body{
    background: #dd2c00; 
    margin-top: 70px;
}

.jumbotron{
    background: #b2ebf2;   
}

.navbar{
    background-color: #00bcd4;
}

.card{
    background-color: #ff5722; 
    border-radius: 10%;
    text-align: center;
    padding: 10px;
}

.card:hover{
    background-color: #fa1616;
    padding: 0px;
}

.card-img-top{
    border-radius: 10%;
}

.card-title{
    color: white;
    margin-top: 30px;
}

.navbar-text{
    color: white;
}


