body{
    background: #DD2C00; 
    margin-top: 70px;
}

.jumbotron{
    background: #B2EBF2;   
    background-repeat: no-repeat;
    background-image: url("../images/calendar1.png");
    background-position: right 150px top;
    position: relative;
    overflow: hidden;
    
}

@media screen and (max-width: 600px) {
    .jumbotron {
        background-image: none;
    }
}

.navbar{
    background-color: #00BCD4;
}

.card{
    background-color: #FF5722; 
    border-radius: 10%;
    text-align: center;
    padding: 10px;
    margin-top: 25px;
}

.card:hover{
    background-color: #DD2C00;
    padding: 0px;
}

.card-img-top{
    border-radius: 10%;
}

.card-title{
    color: white;
    margin-top: 30px;
}

.navbar-text{
    color: white;
}


.copyright{
    color: #FF5722;
    padding: 25px;
    background-color: gray
}


